Repository MizuchiLabs/mantrae: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, release:binary, docs

.woodpecker/build.yaml:

when:
  - branch: [main, nightly]
    event: [push, tag, deployment, manual]
    path:
      include:
        - "web/**"
        - "*.go"
        - "go.mod"
        - "go.sum"

steps:
  - name: build:frontend
    image: node:22-alpine
    directory: web
    commands:
      - npm install --global corepack@latest
      - corepack enable
      - corepack prepare pnpm@latest-10 --activate
      - pnpm config set store-dir .pnpm-store
      - pnpm install
      - pnpm format
      - pnpm build

  - name: test:backend
    image: golang:1.24-alpine
    commands:
      - wget -O- -nv
        https://raw.githubusercontent.com/golangci/golangci-lint/HEAD/install.sh
        | sh -s v2.3.0
      - go mod download
      - go mod verify
      - go mod tidy
      - go vet ./...
      - go test ./...
      - golangci-lint run
    depends_on:
      - build:frontend

  - name: release:container
    image: ghcr.io/ko-build/ko:latest
    commands:
      - |
        if [ -n "$CI_COMMIT_TAG" ]; then
          TAGS="-t latest -t $CI_COMMIT_TAG"
        elif [ "$CI_COMMIT_BRANCH" = "$CI_REPO_DEFAULT_BRANCH" ]; then
          TAGS="-t latest"
          echo "Building latest from main branch..."
        else
          TAGS="-t nightly"
          echo "Building nightly release..."
        fi
      - echo "$GITHUB_TOKEN" | ko login ghcr.io -u "$CI_REPO_OWNER"
        --password-stdin
      - KO_DOCKER_REPO=ghcr.io/mizuchilabs/mantrae ko build ./server/cmd --bare
        $TAGS
      - KO_DOCKER_REPO=ghcr.io/mizuchilabs/mantrae-agent ko build ./agent/cmd
        --bare $TAGS
    depends_on:
      - build:frontend
      - test:backend
    environment:
      GITHUB_TOKEN:
        from_secret: gh_token

  - name: release:binary
    image: goreleaser/goreleaser
    commands:
      - goreleaser check
      - goreleaser release --clean --skip=validate
    depends_on:
      - build:frontend
      - test:backend
    environment:
      GITHUB_TOKEN:
        from_secret: gh_token
    when:
      event: tag
      branch: main

.woodpecker/docs.yaml:

when:
  - branch: main
    event: [push, tag, deployment, manual]
    path: 'docs/**'

steps:
  - name: deploy-docs
    image: node:20
    commands:
      - git config --global user.name "Woodpecker Bot"
      - git config --global user.email "ci@mizuchi.dev"
      - mkdir -p $HOME/.ssh
      - ssh-keyscan -t rsa github.com >> $HOME/.ssh/known_hosts
      - echo "$GITHUB_TOKEN" > "$HOME/.ssh/id_rsa"
      - chmod 0600 $HOME/.ssh/id_rsa
      - npm install -g corepack
      - corepack enable
      - corepack prepare pnpm@latest --activate
      - pnpm config set store-dir .pnpm-store
      - cd docs
      - pnpm install
      - pnpm run build
      - pnpm run deploy
    environment:
      USE_SSH: true
      GITHUB_TOKEN:
        from_secret: gh_deploy_token

rm squash
  server/internal/store/squash_dev.go
  web/svelte.config.js
  web/tsconfig.json
Due: build, release:binary

skip cache
  .github/workflows/cleanup.yaml
  .github/workflows/release.yaml
  .github/workflows/test.yaml
Due: none

update docs
  compose.yml
  docs/docs/api.md
  docs/docs/faq.md
  docs/docs/intro.md
  docs/docs/quickstart.md
  docs/docs/usage/agents.md
  docs/docs/usage/backups.md
  docs/docs/usage/config.md
  docs/docs/usage/dns.md
  docs/docs/usage/environment.md
  docs/docs/usage/oidc.md
  docs/docs/usage/profiles.md
  docs/docusaurus.config.ts
  docs/pnpm-lock.yaml
  docs/sidebars.ts
  docs/src/components/HomepageFeatures/index.tsx
  docs/src/pages/index.tsx
  docs/src/pages/markdown-page.md
  taskfile.yaml
  web/package.json
  web/pnpm-lock.yaml
Due: build, release:binary, docs

update readme
  README.md
  docs/docusaurus.config.ts
  openapi.yaml
  server/internal/api/server/openapi/openapi.json
Due: docs

small fix
  docs/docusaurus.config.ts
Due: docs

.
  .woodpecker/build.yaml
  .woodpecker/docs.yaml
Due: none

adjust archive
  .github/workflows/release.yaml
  .goreleaser.yaml
  install.sh
Due: none

fix ko
  .github/renovate.json
  .goreleaser.yaml
Due: none

fix: agent containers
  go.mod
  go.sum
  server/internal/api/service/agent.go
  server/internal/store/00000_base.sql
  server/internal/store/db/agents.sql.go
  server/internal/store/db/conversion.go
  server/internal/store/db/models.go
  server/internal/store/migrations/00008_fix_container.sql
  server/internal/store/schema/agent.go
  web/src/lib/gen/buf/validate/validate_pb.ts
  web/src/lib/gen/mantrae/v1/agent_pb.ts
  web/src/lib/gen/mantrae/v1/auditlog_pb.ts
  web/src/lib/gen/mantrae/v1/backup_pb.ts
  web/src/lib/gen/mantrae/v1/dns_provider_pb.ts
  web/src/lib/gen/mantrae/v1/entry_point_pb.ts
  web/src/lib/gen/mantrae/v1/middleware_pb.ts
  web/src/lib/gen/mantrae/v1/profile_pb.ts
  web/src/lib/gen/mantrae/v1/protocol_pb.ts
  web/src/lib/gen/mantrae/v1/router_pb.ts
  web/src/lib/gen/mantrae/v1/servers_transport_pb.ts
  web/src/lib/gen/mantrae/v1/service_pb.ts
  web/src/lib/gen/mantrae/v1/setting_pb.ts
  web/src/lib/gen/mantrae/v1/traefik_instance_pb.ts
  web/src/lib/gen/mantrae/v1/user_pb.ts
  web/src/lib/gen/mantrae/v1/util_pb.ts
Due: build, release:binary

.
  .github/workflows/docs.yaml
Due: none

fix version
  .goreleaser.yaml
  agent/cmd/main.go
  server/cmd/main.go
  taskfile.yaml
Due: none

update cf sdk to latest & fix delete on update
  go.mod
  go.sum
  server/internal/api/service/router_ops.go
  server/internal/config/setup.go
  server/internal/dns/client.go
  server/internal/dns/cloudflare.go
  server/internal/tasks/tasks.go
  web/package.json
  web/pnpm-lock.yaml
Due: build, release:binary

bump deps
  docs/pnpm-lock.yaml
  web/package.json
  web/pnpm-lock.yaml
Due: build, release:binary, docs

bump
  .github/renovate.json
Due: none

fix dashboard
  go.mod
  go.sum
  web/package.json
  web/pnpm-lock.yaml
  web/src/routes/+page.svelte
Due: build, release:binary

bump
  web/src/routes/+page.svelte
Due: build, release:binary

bump
  docs/pnpm-lock.yaml
Due: docs

skip dirty state
  .github/workflows/release.yaml
Due: none

fix config display
  web/src/lib/api.ts
  web/src/lib/components/modals/ConfigModal.svelte
  web/src/routes/+layout.ts
  web/src/routes/+page.svelte
Due: build, release:binary

small bump
  .goreleaser.yaml
  go.sum
Due: build, release:binary

fix: better router service naming, fix db regression
  agent/cmd/main.go
  agent/internal/client/client.go
  agent/internal/client/config.go
  agent/internal/client/sync.go
  agent/internal/collector/docker.go
  docs/package.json
  docs/pnpm-lock.yaml
  go.mod
  go.sum
  server/internal/api/handler/oidc.go
  server/internal/api/service/router_ops.go
  server/internal/dns/client.go
  server/internal/store/connection.go
  server/internal/tasks/tasks.go
  web/package.json
  web/pnpm-lock.yaml
Due: build, release:binary, docs

update templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Fix install script
  install.sh
Due: none

bump deps
  .goreleaser.yaml
  docs/pnpm-lock.yaml
  go.mod
  go.sum
  web/package.json
  web/pnpm-lock.yaml
Due: build, release:binary, docs

bump
  go.mod
  go.sum
Due: build, release:binary

cleanup
  .github/workflows/release.yaml
  .github/workflows/test.yaml
  .goreleaser.yaml
Due: none

add agent to cleanup
  .github/workflows/test.yaml
Due: none

test cleanup
  .github/workflows/test.yaml
Due: none

update readme
  README.md
Due: none

bump deps, some cleanup
  docs/pnpm-lock.yaml
  go.mod
  go.sum
  web/package.json
  web/pnpm-lock.yaml
  web/src/lib/assets/index.ts
  web/src/lib/assets/logo-dark.svelte
  web/src/lib/assets/logo-light.svelte
  web/src/lib/assets/logo.svg
  web/src/lib/components/nav/AppSidebar.svelte
  web/src/lib/components/ui/toggle-group/toggle-group-item.svelte
  web/src/lib/components/ui/toggle-group/toggle-group.svelte
  web/src/lib/components/ui/toggle/toggle.svelte
  web/src/lib/images/logo-black.svg
  web/src/lib/images/logo-white.svg
  web/src/routes/+layout.svelte
  web/src/routes/+page.svelte
  web/src/routes/login/+page.svelte
  web/src/routes/login/reset/+page.svelte
Due: build, release:binary, docs

add logo
  .github/logo.svg
Due: none

.
  README.md
Due: none

bump
  .gitignore
  docs/pnpm-lock.yaml
  go.mod
  go.sum
  web/package.json
  web/pnpm-lock.yaml
Due: build, release:binary, docs

Add healthcheck to HTTPServiceForm.svelte
  web/src/lib/components/forms/HTTPServiceForm.svelte
Due: build, release:binary

feat: add healthcheck
  web/src/lib/components/forms/HTTPServiceForm.svelte
  web/src/lib/components/forms/TCPServiceForm.svelte
  web/src/lib/components/modals/AgentModal.svelte
  web/src/lib/components/modals/ProfileModal.svelte
  web/src/lib/components/ui/button/button.svelte
  web/src/lib/components/ui/button/index.ts
  web/src/lib/components/ui/copy-input/copy-input.svelte
  web/src/lib/components/ui/copy-input/index.ts
  web/src/lib/components/ui/input-group/array-input.svelte
  web/src/lib/components/ui/input-group/copy-input.svelte
  web/src/lib/components/ui/input-group/index.ts
  web/src/lib/components/ui/input-group/input-group-addon.svelte
  web/src/lib/components/ui/input-group/input-group-button.svelte
  web/src/lib/components/ui/input-group/input-group-input.svelte
  web/src/lib/components/ui/input-group/input-group-text.svelte
  web/src/lib/components/ui/input-group/input-group-textarea.svelte
  web/src/lib/components/ui/input-group/input-group.svelte
  web/src/lib/components/ui/input/index.ts
  web/src/lib/components/ui/input/input.svelte
  web/src/lib/components/ui/textarea/index.ts
  web/src/lib/components/ui/textarea/textarea.svelte
Due: build, release:binary
