Repository MizuchiLabs/mantrae: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, release:binary, docs

build:
  steps:
  - name: build:frontend
    image: node:22-alpine
    directory: web
    commands:
    - npm install --global corepack@latest
    - corepack enable
    - corepack prepare pnpm@latest-10 --activate
    - pnpm config set store-dir .pnpm-store
    - pnpm install
    - pnpm format
    - pnpm build
  ...

release:binary:
  image: goreleaser/goreleaser
  commands:
  - goreleaser check
  - goreleaser release --clean --skip=validate
  depends_on:
  - build:frontend
  - test:backend
  environment:
    GITHUB_TOKEN:
      from_secret: gh_token

docs:
  steps:
  - name: deploy-docs
    image: node:20
    commands:
    - git config --global user.name "Woodpecker Bot"
    - git config --global user.email "ci@mizuchi.dev"
    - mkdir -p $HOME/.ssh
    - ssh-keyscan -t rsa github.com >> $HOME/.ssh/known_hosts
    - echo "$GITHUB_TOKEN" > "$HOME/.ssh/id_rsa"
  ...

fix: user id generation
  server/internal/api/handler/oidc.go
Due: none

cleanup
  proto/mantrae/v1/agent.proto
Due: none

fix: adjust clean url
  pkg/util/ip.go
  server/internal/api/handler/oidc.go
Due: none

add cleanup
  taskfile.yaml
Due: none

docs: cleanup
  docs/docs/installation.md
  docs/docs/intro.md
  docs/docs/quickstart.md
  docs/package.json
  docs/pnpm-lock.yaml
  docs/sidebars.ts
Due: docs

chore: bump deps
  go.mod
  go.sum
  server/internal/config/setup.go
  web/package.json
  web/pnpm-lock.yaml
Due: build, release:binary

feat: add servers transport and sticky cookie to services
  web/src/lib/components/forms/HTTPServiceForm.svelte
Due: build, release:binary

Fix volume path in quickstart documentation
  docs/docs/quickstart.md
Due: docs

Deploy website - based on 7e2d5b30335bbf6e7bfd4c3f9f2648a84bc3bb57
  404.html
  api.html
  assets/js/8070e160.1ed9e9e5.js
  assets/js/8070e160.8feb6c93.js
  assets/js/runtime~main.32dcda78.js
  assets/js/runtime~main.3ce5aa43.js
  faq.html
  index.html
  intro.html
  markdown-page.html
  quickstart.html
  usage/agents.html
  usage/backups.html
  usage/dns.html
  usage/environment.html
  usage/profiles.html
Due: none

fix: password change
  go.mod
  go.sum
  server/internal/api/service/user.go
  web/package.json
  web/pnpm-lock.yaml
  web/src/lib/components/modals/UserModal.svelte
Due: build, release:binary

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

correct ssl command
  docker-compose.yml
Due: none

fix: add default dns provider on create
  go.mod
  go.sum
  server/internal/api/server/server.go
  server/internal/api/service/router_ops.go
  web/package.json
  web/pnpm-lock.yaml
Due: build, release:binary

commit provider
  server/internal/api/service/router_ops.go
Due: none

.
  go.mod
  go.sum
  taskfile.yaml
Due: build, release:binary

docs: small fix
  docs/docs/usage/dns.md
Due: docs

Deploy website - based on e59f6eb02afff717ca3786ba10830e08d1002324
  404.html
  api.html
  assets/js/dff0a3c5.0b54b063.js
  assets/js/dff0a3c5.d9059dac.js
  assets/js/runtime~main.32dcda78.js
  assets/js/runtime~main.d7b7a908.js
  faq.html
  index.html
  intro.html
  markdown-page.html
  quickstart.html
  usage/agents.html
  usage/backups.html
  usage/dns.html
  usage/environment.html
  usage/profiles.html
Due: none

fix: install script
  README.md
  install.sh
Due: none

cleanup
  taskfile.yaml
Due: none

bump deps
  README.md
  docs/docs/usage/environment.md
  docs/docusaurus.config.ts
  docs/package.json
  docs/pnpm-lock.yaml
  go.mod
  go.sum
  taskfile.yaml
  web/package.json
  web/pnpm-lock.yaml
Due: build, release:binary, docs

Revise bug report template for better usability
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

set cache path
  .github/workflows/docs.yaml
  .github/workflows/release.yaml
  .github/workflows/test.yaml
Due: none

add dispatch
  .github/workflows/cleanup.yaml
  .github/workflows/release.yaml
  .github/workflows/test.yaml
Due: none

rm build
  taskfile.yaml
Due: none

rm gen
  .github/workflows/release.yaml
  .github/workflows/test.yaml
Due: none

swap
  .github/workflows/release.yaml
  .github/workflows/test.yaml
Due: none

Path conditions:
  build: any of: web/**, *.go, go.mod, go.sum
  release:binary: any of: web/**, *.go, go.mod, go.sum
  docs: any of: docs/**
