Repository MizuchiLabs/mantrae: changes, and which Woodpecker steps are due for each by the changed paths.
All: build, release, docs

build:
  steps:
  - name: frontend-build
    image: node:20
    commands:
    - npm install -g corepack
    - corepack enable
    - corepack prepare pnpm@latest --activate
    - pnpm config set store-dir .pnpm-store
    - cd web
    - pnpm install
    - pnpm build
  - name: docker-build
    image: ghcr.io/ko-build/ko:latest
  ...

release:
  image: goreleaser/goreleaser
  commands:
  - goreleaser release --clean --skip=validate
  environment:
    GITHUB_TOKEN:
      from_secret: gh_token

docs:
  steps:
  - name: deploy-docs
    image: node:20
    commands:
    - git config --global user.name "Woodpecker Bot"
    - git config --global user.email "ci@mizuchi.dev"
    - mkdir -p $HOME/.ssh
    - ssh-keyscan -t rsa github.com >> $HOME/.ssh/known_hosts
    - echo "$GITHUB_TOKEN" > "$HOME/.ssh/id_rsa"
  ...

use fallbackport
  agent/internal/client/client.go
Due: none

enable always
  agent/internal/client/client.go
Due: none

simplify tokens
  agent/cmd/main.go
  agent/internal/client/auth.go
  agent/internal/client/client.go
  agent/internal/client/config.go
  agent/internal/client/sync.go
  pkg/meta/claims.go
  pkg/util/crypto.go
  server/internal/api/handler/file.go
  server/internal/api/middlewares/auth.go
  server/internal/api/server/server.go
  server/internal/api/server/static.go
  server/internal/api/service/agent.go
  web/src/lib/components/modals/AgentModal.svelte
  web/src/lib/components/nav/AppSidebar.svelte
  web/src/routes/agents/+page.svelte
  web/src/routes/login/+page.svelte
Due: build, release

update docs
  agent/cmd/main.go
  agent/internal/client/client.go
  docs/docs/01-intro.md
  docs/docs/02-installation.md
  docs/docs/03-faq.md
  docs/docs/api.md
  docs/docs/faq.md
  docs/docs/index.md
  docs/docs/installation.md
  docs/docs/intro.md
  docs/docs/quickstart.md
  docs/docs/usage/01-profiles.md
  docs/docs/usage/02-dns.md
  docs/docs/usage/03-agents.md
  docs/docs/usage/04-environment.md
  docs/docs/usage/05-backups.md
  docs/docs/usage/_category_.json
  docs/docs/usage/agents.md
  docs/docs/usage/backups.md
  docs/docs/usage/dns.md
  docs/docs/usage/environment.md
  docs/docs/usage/profiles.md
  docs/docusaurus.config.ts
  docs/package-lock.json
  docs/package.json
  docs/pnpm-lock.yaml
  docs/sidebars.ts
  docs/src/pages/index.tsx
  web/src/lib/components/modals/AgentModal.svelte
Due: build, release, docs

code format
  .gitignore
  server/internal/api/handler/oidc.go
  server/internal/api/handler/traefik.go
  server/internal/api/middlewares/audit.go
  server/internal/api/server/server.go
  server/internal/api/service/auditlog.go
  server/internal/api/service/backup.go
  server/internal/api/service/dns.go
  server/internal/api/service/entrypoint.go
  server/internal/api/service/middleware.go
  server/internal/api/service/middleware_ops.go
  server/internal/api/service/profile.go
  server/internal/api/service/router.go
  server/internal/api/service/router_ops.go
  server/internal/api/service/servers_transport.go
  server/internal/api/service/servers_transport_ops.go
  server/internal/api/service/service.go
  server/internal/api/service/service_ops.go
  server/internal/api/service/setting.go
  server/internal/api/service/traefik_instance.go
  server/internal/api/service/user.go
  server/internal/config/setup.go
  server/internal/dns/client.go
  server/internal/dns/cloudflare.go
  server/internal/dns/powerdns.go
  server/internal/dns/technitium.go
  server/internal/settings/validate.go
  server/internal/store/connection.go
  server/internal/store/db/conversion.go
  server/internal/traefik/client.go
Due: none

rm pprof
  server/internal/api/server/server.go
Due: none

new base
  server/internal/store/00000_base.sql
Due: none

update build
  .woodpecker/build.yaml
  go.mod
  go.sum
  server/internal/api/middlewares/audit.go
  server/internal/settings/settings_test.go
  taskfile.yaml
  web/package.json
  web/pnpm-lock.yaml
  web/src/lib/components/modals/ProfileModal.svelte
  web/src/lib/gen/buf/validate/validate_pb.ts
  web/src/lib/gen/mantrae/v1/agent_pb.ts
  web/src/lib/gen/mantrae/v1/auditlog_pb.ts
  web/src/lib/gen/mantrae/v1/backup_pb.ts
  web/src/lib/gen/mantrae/v1/dns_provider_pb.ts
  web/src/lib/gen/mantrae/v1/entry_point_pb.ts
  web/src/lib/gen/mantrae/v1/middleware_pb.ts
  web/src/lib/gen/mantrae/v1/profile_pb.ts
  web/src/lib/gen/mantrae/v1/protocol_pb.ts
  web/src/lib/gen/mantrae/v1/router_pb.ts
  web/src/lib/gen/mantrae/v1/servers_transport_pb.ts
  web/src/lib/gen/mantrae/v1/service_pb.ts
  web/src/lib/gen/mantrae/v1/setting_pb.ts
  web/src/lib/gen/mantrae/v1/traefik_instance_pb.ts
  web/src/lib/gen/mantrae/v1/user_pb.ts
  web/src/lib/gen/mantrae/v1/util_pb.ts
  web/src/lib/gen/zen/traefik-schemas.ts
  web/src/routes/+page.svelte
Due: build, release

add build web
  .woodpecker/build.yaml
Due: none

rm
  .woodpecker/build.yaml
Due: none

add golangci lint
  .woodpecker/build.yaml
Due: none

small fix
  web/src/routes/entrypoints/+page.svelte
Due: build, release

better preload
  web/src/lib/components/forms/DNSProviderSelect.svelte
  web/src/lib/components/forms/HTTPRouterForm.svelte
  web/src/lib/components/forms/TCPRouterForm.svelte
  web/src/lib/components/forms/UDPRouterForm.svelte
  web/src/lib/components/modals/AuditLogModal.svelte
  web/src/lib/components/modals/RouterModal.svelte
  web/src/lib/components/nav/AppSidebar.svelte
  web/src/lib/stores/realtime.ts
  web/src/routes/+page.svelte
Due: build, release

linter fix
  web/eslint.config.js
  web/src/lib/gen/buf/validate/validate_pb.ts
  web/src/lib/gen/mantrae/v1/agent_pb.ts
  web/src/lib/gen/mantrae/v1/auditlog_pb.ts
  web/src/lib/gen/mantrae/v1/backup_pb.ts
  web/src/lib/gen/mantrae/v1/dns_provider_pb.ts
  web/src/lib/gen/mantrae/v1/entry_point_pb.ts
  web/src/lib/gen/mantrae/v1/middleware_pb.ts
  web/src/lib/gen/mantrae/v1/profile_pb.ts
  web/src/lib/gen/mantrae/v1/protocol_pb.ts
  web/src/lib/gen/mantrae/v1/router_pb.ts
  web/src/lib/gen/mantrae/v1/servers_transport_pb.ts
  web/src/lib/gen/mantrae/v1/service_pb.ts
  web/src/lib/gen/mantrae/v1/setting_pb.ts
  web/src/lib/gen/mantrae/v1/traefik_instance_pb.ts
  web/src/lib/gen/mantrae/v1/user_pb.ts
  web/src/lib/gen/mantrae/v1/util_pb.ts
  web/src/lib/gen/zen/traefik-schemas.ts
  web/src/lib/stores/realtime.ts
  web/src/routes/welcome/+page.svelte
Due: build, release

small fixes
  go.mod
  go.sum
  server/internal/api/server/static.go
  taskfile.yaml
  web/.prettierrc
  web/eslint.config.js
  web/package.json
  web/pnpm-lock.yaml
  web/src/lib/components/modals/UserModal.svelte
  web/src/lib/stores/realtime.ts
  web/src/lib/stores/user.ts
  web/src/lib/types.ts
  web/src/routes/+page.svelte
  web/src/routes/agents/+page.svelte
  web/src/routes/dns/+page.svelte
  web/src/routes/entrypoints/+page.svelte
  web/src/routes/login/+page.svelte
  web/src/routes/login/reset/+page.svelte
  web/src/routes/middlewares/+page.svelte
  web/src/routes/middlewares/plugins/+page.svelte
  web/src/routes/router/+page.svelte
  web/src/routes/settings/+page.svelte
  web/src/routes/transport/+page.svelte
  web/src/routes/users/+page.svelte
  web/src/routes/welcome/+page.svelte
Due: build, release

encrypt api keys
  pkg/util/crypto.go
  proto/gen/mantrae/v1/dns_provider.pb.go
  proto/gen/openapi/openapi.yaml
  proto/mantrae/v1/dns_provider.proto
  server/cmd/main.go
  server/internal/api/service/dns.go
  server/internal/api/service/router_ops.go
  server/internal/config/setup.go
  server/internal/dns/client.go
  server/internal/dns/technitium.go
  server/internal/store/00000_base.sql
  server/internal/store/db/conversion.go
  server/internal/store/db/dns_providers.sql.go
  server/internal/store/db/http_router_dns_provider.sql.go
  server/internal/store/db/models.go
  server/internal/store/db/querier.go
  server/internal/store/db/tcp_router_dns_provider.sql.go
  server/internal/store/migrations/00007_v07.sql
  server/internal/store/queries/dns_providers.sql
  server/internal/tasks/tasks.go
  web/package.json
  web/pnpm-lock.yaml
  web/src/lib/components/modals/DNSModal.svelte
  web/src/lib/gen/buf/validate/validate_pb.ts
  web/src/lib/gen/mantrae/v1/agent_pb.ts
  web/src/lib/gen/mantrae/v1/auditlog_pb.ts
  web/src/lib/gen/mantrae/v1/backup_pb.ts
  web/src/lib/gen/mantrae/v1/dns_provider_pb.ts
  web/src/lib/gen/mantrae/v1/entry_point_pb.ts
  web/src/lib/gen/mantrae/v1/middleware_pb.ts
  web/src/lib/gen/mantrae/v1/profile_pb.ts
  web/src/lib/gen/mantrae/v1/protocol_pb.ts
  web/src/lib/gen/mantrae/v1/router_pb.ts
  web/src/lib/gen/mantrae/v1/servers_transport_pb.ts
  web/src/lib/gen/mantrae/v1/service_pb.ts
  web/src/lib/gen/mantrae/v1/setting_pb.ts
  web/src/lib/gen/mantrae/v1/traefik_instance_pb.ts
  web/src/lib/gen/mantrae/v1/user_pb.ts
  web/src/lib/gen/mantrae/v1/util_pb.ts
  web/src/lib/gen/zen/traefik-schemas.ts
Due: build, release

fix types
  server/internal/api/middlewares/audit.go
Due: none

fix restore and profile tokens
  server/internal/api/service/profile.go
  server/internal/traefik/config.go
  web/src/lib/components/modals/ProfileModal.svelte
Due: build, release

slugify profile name
  docker-compose.yml
  go.mod
  go.sum
  server/internal/api/service/profile.go
Due: build, release

better example
  docker-compose.yml
Due: none

add id
  server/internal/traefik/client.go
Due: none

small conversion fix
  proto/gen/mantrae/v1/traefik_instance.pb.go
  proto/gen/openapi/openapi.yaml
  proto/mantrae/v1/traefik_instance.proto
  server/internal/store/db/conversion.go
  web/src/lib/gen/mantrae/v1/traefik_instance_pb.ts
Due: build, release

fix dns provider display
  server/internal/api/service/router_ops.go
  web/src/lib/components/forms/HTTPRouterForm.svelte
  web/src/lib/components/forms/TCPRouterForm.svelte
Due: build, release

fix dns type
  web/src/lib/components/modals/DNSModal.svelte
Due: build, release

small ui fixes
  .github/screenshots/dashboard.png
  README.md
  docker-compose.yml
  docs/docs/installation.md
  docs/docs/quickstart.md
  web/package.json
  web/pnpm-lock.yaml
  web/src/lib/components/modals/DNSModal.svelte
  web/src/lib/components/ui/toggle-group/index.ts
  web/src/lib/components/ui/toggle-group/toggle-group-item.svelte
  web/src/lib/components/ui/toggle-group/toggle-group.svelte
  web/src/lib/components/ui/toggle/index.ts
  web/src/lib/components/ui/toggle/toggle.svelte
  web/src/routes/+page.svelte
Due: build, release, docs

update readme
  README.md
Due: none

fix docs
  docs/docs/index.md
Due: docs

remove broken link
  docs/docs/intro.md
Due: docs

embed openapi
  .goreleaser.yaml
  go.sum
  proto/embed.go
  server/internal/api/server/server.go
  server/internal/api/server/static.go
Due: build, release

fix potential panic on empty fetch
  server/internal/api/handler/traefik.go
  server/internal/traefik/client.go
  web/src/lib/stores/realtime.ts
Due: build, release

feat: Add confirmation popups to all delete buttons
  go.mod
  go.sum
  pkg/meta/build.go
  web/package.json
  web/pnpm-lock.yaml
  web/src/lib/components/modals/AgentModal.svelte
  web/src/lib/components/modals/DNSModal.svelte
  web/src/lib/components/modals/EntryPointModal.svelte
  web/src/lib/components/modals/MiddlewareModal.svelte
  web/src/lib/components/modals/ProfileModal.svelte
  web/src/lib/components/modals/RouterModal.svelte
  web/src/lib/components/modals/ServerTransportModal.svelte
  web/src/lib/components/modals/UserModal.svelte
  web/src/lib/components/ui/confirm-button/confirm-button.svelte
  web/src/lib/components/ui/confirm-button/index.ts
  web/vite.config.ts
Due: build, release

feat: listen to docker events
  agent/internal/client/client.go
  agent/internal/client/config.go
  agent/internal/client/sync.go
  agent/internal/collector/docker.go
Due: none

Path conditions:
  build: any of: web/**, *.go, go.mod, go.sum
  release: any of: web/**, *.go, go.mod, go.sum
  docs: any of: docs/**
